
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: laravel_backend
    working_dir: /var/www/backend
    volumes:
      - ./backend:/var/www/backend
    expose:
      - "9000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - APP_URL=http://localhost:8000
    depends_on:
      - db
    networks:
      - app-network

  frontend:
      build:
        context: .
        dockerfile: Dockerfile.frontend
      container_name: react_frontend
      working_dir: /var/www/frontend
      volumes:
        - ./frontend:/var/www/frontend
      ports:
        - "5173:5173"
      command: npm run dev
      networks:
        - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/backend
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    networks:
      - app-network

  db:
    image: mysql:8.0
    container_name: project_db
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: root
      MYSQL_USER: laravel
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: project_phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: laravel
      PMA_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8080:80"
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata: